<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
        $(document).ready(function()
            {
                $("#hid").hide();
                $(".g1").hide();
                $(".g2").hide();
                $(".g3").hide();
                $(".g4").hide();
                $(".g5").hide();

                $(".g1").click(function(){
                    $(".g1").hide();
                    $(".g2").hide();
                    $(".g3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".s1").show();
                    $(".s2").show();
                    $(".s3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("0");
                });
                $(".s1").click(function(){
                    $(".s1").hide();
                    $(".g2").hide();
                    $(".g3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".s2").show();
                    $(".s3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("1");
                });
                $(".g2").click(function(){
                    $(".s1").hide();
                    $(".g2").hide();
                    $(".g3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".s2").show();
                    $(".s3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("1");
                });
                $(".s2").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".g3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".s3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("2");
                });
                $(".g3").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".g3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".s3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("2");
                });
                $(".s3").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".s3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".g3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("3");
                });
                $(".g4").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".s3").hide();
                    $(".g4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".g3").show();
                    $(".s4").show();
                    $(".s5").show();
                    $("#hid").val("3");
                });
                $(".s4").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".s3").hide();
                    $(".s4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".g3").show();
                    $(".g4").show();
                    $(".s5").show();
                    $("#hid").val("4");
                });
                $(".g5").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".s3").hide();
                    $(".s4").hide();
                    $(".g5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".g3").show();
                    $(".g4").show();
                    $(".s5").show();
                    $("#hid").val("4");
                });
                $(".s5").click(function(){
                    $(".s1").hide();
                    $(".s2").hide();
                    $(".s3").hide();
                    $(".s4").hide();
                    $(".s5").hide();
                    $(".g1").show();
                    $(".g2").show();
                    $(".g3").show();
                    $(".g4").show();
                    $(".g5").show();
                    $("#hid").val("5");
                });
            });
        </script>
        {% block script %}
        {% endblock %}
        <meta charset="UTF-8" />
        <title>{% block title %}Wyszukiwarka{% endblock %}</title>
    </head>
        <p align="left">
            <a href="{% url 'index' %}"> Strona Główna</a> |
            <a href="{% url 'wyszukiwanie' %}"> Wyszukiwanie podstawowe</a> |
             <a href="{% url 'zaawansowane' %}"> Wyszukiwanie szczegółowe</a> |
            <a href="{% url 'przegladanie' 0 %}"> Przeglądaj</a>
            {% if auth %}
             | <a href="{% url 'moderate' %}"> Dodaj do Bazy</a>
            {%endif%}
        <span style="float:right;">
            {% if user.is_authenticated %}
              użytkownik:  <b>{{user.username}}</b>    <a href="/logout/">wyloguj się</a>
            {% else %}
              <a href="/login/">zaloguj się</a> | <a href="/register/">zarejestruj się</a>
            {% endif %}
        </span>
        </p>
        <hr>
    {% block content %}
    <table>
    <tr><td><h2>Najwyżej oceniane:</h2><td><h2>Ostatnio komentowane:</h2></td></tr>
        <tr><td><table>
            <tr>
                <td><strong>Modele</strong></td>
                <td><strong>Nadwozia</strong></td>
                <td><strong>Konfiguracje</strong></td>
            </tr>
            <tr>
                <td>
                    <table>
                        {% for s in samochody %}
                        <tr>
                            <td><a href="/szczegoly/0/{{s.id}}"> {{s}}</a></td>
                            <td>{{s.rating|floatformat:-2 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        {% for n in nadwozia %}
                        <tr>
                            <td><a href="/szczegoly/0/{{n.Samochod.id}}/{{n.id}}">{{n}}</a></td>
                            <td>{{n.rating|floatformat:-2 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table>
                        {% for s in silniki %}
                        <tr>
                            <td><a href="/szczegoly/0/{{s.Nadwozie.Samochod.id}}/{{s.Nadwozie.id}}/{{s.Silnik.id}}">{{s}}</a></td>
                            <td>{{s.rating|floatformat:-2 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table></td>
        <td><table>
            <tr>
                <td><strong>Strona</strong></td>
                <td><strong>Autor</strong></td>
                <td><strong>Data</strong></td>
            </tr>
            {% for k in komentarze %}
                <tr><td><a href="/szczegoly/0/{{k.site}}">{{k.Site}}</a></td><td>{{k.User}}</td><td>{{k.Time}}</td></tr>
            {% endfor %}
        </table></td></tr>
    </table>
    {% endblock %}
</html>
