<!DOCTYPE html>
<html {% block html_extra %}{% endblock %}>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% block script %}
        {% endblock %}
        <meta charset="UTF-8" />
        <title>{% block title %}Wyszukiwarka{% endblock %}</title>
    </head>
        <p align="left">
            <a href="{% url 'index' %}"> Strona Główna</a> |
            <a href="{% url 'wyszukiwanie' %}"> Wyszukaj</a> |
            <a href="{% url 'przegladanie' 0 %}"> Przeglądaj</a>
            {% if user.is_authenticated %}
             | <a href="{% url 'moderate' %}"> Dodaj do Bazy</a>
            {%endif%}
        <span style="float:right;">
            {% if user.is_authenticated %}
              użytkownik:  <b>{{user.username}}</b>    <a href="/logout/">wyloguj się</a>
            {% else %}
              <a href="/login/">zaloguj się</a>
            {% endif %}
        </span>
        </p>
        <hr>
    {% block content %}
    {% endblock %}
</html>
