{% extends "base.html" %}

{% block content %}
<H1>{{car.Marka}} {{car.Model}}</H1>
{% if user.is_authenticated %}
<a href="/editSamochod/{{s_id}}/{{car.id}}">edytuj</a>
{% endif %}


<table>
            <tr>
            {%for f in files%}
            <td><img src="data:image/gif;base64,{{f.Plik}}"/></td>
            {%endfor%}
            </tr>
</table>
<br><br>
    <table>
        <tr><td>Marka:   </td><td>{{car.Marka}}</td></tr>
        <tr><td>Model:   </td><td>{{car.Model}}</td></tr>
        <tr><td>Rocznik: </td><td>{{car.Rocznik}}</td></tr>
        <tr><td>Cena:    </td><td>{{car.Cena}} - {{cenaMax}}</td></tr>
    </table>
    <br>
    Dostępne nadwozia:
    <table>
        <tr><td>Wersja:   </td>
        {% for n in nadwozia %}
            <td><a href="/szczegoly/{{s_id}}/{{car.id}}/{{n.id}}">{{n.Rodzaj}}</a></td>
        {% endfor %}
        </tr>
        <tr><td>cena:   </td>
        {% for n in nadwozia %}
            {% for c in nadwoziaMax %}
            {%if c.id == n.id%}

            <td>{{car.Cena|add:n.Oplata}}{%if c.Cena != 0%} - {{car.Cena|add:n.Oplata|add:c.Cena}}{% endif %}</td>
            {% endif %}

            {% endfor %}
        {% endfor %}
        </tr>
    </table>
    <br>

<a href="/przegladanie/{{s_id}}">wróć do wyników wyszukiwania</a>
{% endblock %}