{% extends "base.html" %}

{% block content %}
<H1>{{car.Marka}} {{text}} {{car.Model}} {{nadwozie.Rodzaj}}</H1>
{% if user.is_authenticated %}
<a href="/editNadwozie/{{s_id}}/{{nadwozie.id}}">edytuj</a>
{% endif %}
<table>
            <tr>
            {%for f in files%}
            <td><img src="data:image/gif;base64,{{f.Plik}}"/></td>
            {%endfor%}
            </tr>
</table>
<br><br>
    <table>
        <tr><td>Marka:   </td><td>{{car.Marka}}</td></tr>
        <tr><td>Model:   </td><td>{{car.Model}}</td></tr>
        <tr><td>Rocznik: </td><td>{{car.Rocznik}}</td></tr>
        <tr><td>cena:    </td><td>{{car.Cena|add:nadwozie.Oplata}} - {{car.Cena|add:nadwozie.Oplata|add:cenaMax}}</td></tr>
        <tr><td>nadwozie:    </td><td>{{nadwozie.Rodzaj}}</td><td><a href="/szczegoly/{{s_id}}/{{car.id}}">Zmien</a></td></tr>
    </table>
    <br>
    Dostępne silniki benzynowe:
    <table>
        <tr> <td></td> <td>   </td> <td>cena:</td></tr>
        {% for s in benzynowe %}
        <tr>
            <td><a href="/szczegoly/{{s_id}}/{{car.id}}/{{nadwozie.id}}/{{s.id}}">{{s.Pojemnosc}} {{s.Rodzaj}} {{s.KM}}</a></td>
            <td>   </td>
            {% for p in parametry %}
                {% if p.Silnik == s%}
                <td>{{car.Cena|add:nadwozie.Oplata|add:p.Oplata}}</td>
                {%endif%}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <br>
    Dostępne silniki Diesla:
    <table>
        <tr> <td></td> <td>   </td> <td>cena:</td></tr>
        {% for s in diesla %}
        <tr>
            <td><a href="/szczegoly/{{s_id}}/{{car.id}}/{{nadwozie.id}}/{{s.id}}">{{s.Pojemnosc}} {{s.Rodzaj}} {{s.KM}}</a></td>
            <td>   </td>
            {% for p in parametry %}
                {% if p.Silnik == s%}
                <td>{{car.Cena|add:nadwozie.Oplata|add:p.Oplata}}</td>
                {%endif%}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <br>

<a href="/przegladanie/{{s_id}}">wróć do wyników wyszukiwania</a>
{% endblock %}