{% extends "base.html" %}

{% block content %}
Wyszukane Pojazdy:<br>
    <table>
        <form id="comparison" method="GET" action="{% url 'porownanie' s_id %}">
            <input type="submit" value="porównaj">
            {% for c in cars %}
                <th></th>
                <tr>
                    <td><input type="checkbox" name="cars" value="{{c.id}}"></td>
                    <td><a href="/szczegoly/{{s_id}}/?id={{c.id}}">{{c.Marka}}</a></td>
                    <td>{{c.Model}}</td>
                    <td>{{c.Rocznik}}</td>
                    <td>{{c.Cena}}</td>
                </tr>
            {% endfor %}
        </form>
    </table>
    {% include "_paginator.html" with pagin=cars filters=filters %}
{% endblock %}