{% extends "base.html" %}

{% block content %}
<H1>{{car.Marka}} {{car.Model}} {{nadwozie.Rodzaj}} {{silnik}}</H1>
{% include "rating.html" with rating=rating grange=grange srange=srange edgeStar=edgeStar %}
{% if auth %}
<a href="/editParametry/{{s_id}}/{{car.id}}/{{nadwozie.id}}/{{silnik.id}}">edytuj parametry</a>
<a href="/editSilnik/{{s_id}}/{{car.id}}/{{nadwozie.id}}/{{silnik.id}}">edytuj silnik</a>
{% endif %}
<br><br>
    <table>
        <tr><td>Marka:   </td><td>{{car.Marka}}</td></tr>
        <tr><td>Model:   </td><td>{{car.Model}}</td></tr>
        <tr><td>Rocznik: </td><td>{{car.Rocznik}}</td></tr>

        <tr><td>cena:    </td><td>{{car.Cena|add:nadwozie.Oplata|add:parametry.Oplata}}</td></tr>
        <tr><td>nadwozie:    </td><td>{{nadwozie.Rodzaj}}</td><td><a href="/szczegoly/{{s_id}}/{{car.id}}">Zmien</a></td></tr>
        <tr><td>Silnik:   </td><td>{{silnik.Pojemnosc}} {{silnik.Rodzaj}} {{silnik.KM}}</td><td><a href="/szczegoly/{{s_id}}/{{car.id}}/{{nadwozie.id}}">Zmien</a></td></tr>
        <tr><td></td><td>Zużycie paliwa: </td><td>{{parametry.Spalanie}}</td></tr>
        <tr><td></td><td>Przyspieszenie 0-100km: </td><td>{{parametry.Przyspieszenie}}</td></tr>
        <tr><td></td><td>Prędkość maksymalna: </td><td>{{parametry.VMax}}</td></tr>
    </table>

    {% include "komentarze.html" with komentarze=komentarze form=form url=request.path %}

<a href="/przegladanie/{{s_id}}">wróć do wyników wyszukiwania</a>
{% endblock %}