{% extends "base.html" %}

{% block content %}
<H1>{{car.Marka}} {{car.Model}}</H1>
<br><br>
    <table>
        <th></th>
        <tr><td>Marka:   </td><td>{{car.Marka}}</td></tr>
        <tr><td>Model:   </td><td>{{car.Model}}</td></tr>
        <tr><td>Rocznik: </td><td>{{car.Rocznik}}</td></tr>
        <tr><td>cena:    </td><td>{{car.Cena}}</td></tr>
    </table>
    <br>
    Dostępne nadwozia:
    <table>
        <th></th>
        <tr><td>Wersja:   </td>
        {% for n in nadwozia %}
            <td>{{n.Rodzaj}}</td>
        {% endfor %}
        </tr>
        <tr><td>Dopłata:   </td>
        {% for n in nadwozia %}
            <td>{{n.Oplata}}</td>
        {% endfor %}
        </tr>
        </tr>
    </table>
    <br>

<a href="/przegladanie/{{s_id}}">wróć do wyników wyszukiwania</a>
{% endblock %}